---
interface Props {
  items: Array<{label: string, href?: string}>;
}

const { items } = Astro.props;

import Link from './Link.astro';
import Text from './Text.astro';
---
<nav aria-label="Breadcrumb">
  <ol class="flex gap-2 p-8" itemscope itemtype="https://schema.org/BreadcrumbList">
    {items.map((item, index) => (
      <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
        {item.href ? (
          <Link variant={'inline'} href={item.href} itemprop="item">
            <span itemprop="name">{item.label}</span>
          </Link>
        ) : (
          <Text variant={'sm'} itemprop="name">{item.label}</Text>
        )}
        <meta itemprop="position" content={String(index + 1)} />
        {index < items.length - 1 && <span class="ml-2">/</span>}
      </li>
    ))}
  </ol>
</nav>