---
// styling
import '../styles/global.css'

// fonts
import '@fontsource/shrikhand';
import '@fontsource/special-elite';

// components
import Head from "../components/global/Head.astro"
import Hero from '../components/sections/Hero.astro';
import Footer from '../components/global/Footer.astro';

interface Props {
	title?: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<Head pageTitle={title} />
	<body class="bg-dark box-border">
		<main>
			<Hero />
			<slot />
		</main>
		<Footer />
	</body>
</html>
